.info-card-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
}
.card-container {
    display: flex;
    flex-direction: row;
   
}
.image-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px 0 rgb(54, 85, 86);
    cursor: pointer;  
    width:280px;
    padding:10px;
}
.card-body-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
span {
    opacity: 0.5  ;
}
.card-title {
    font-weight: 400;
}
.poster {
    object-fit: cover;
    height: 352px;
}
.button-container {
    display: flex;
    flex-direction: column;
}
